* {
  margin: 0;
}
body{
  background-color: rgb(240, 239, 239);
}

.App{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app_header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: space-between;
    
}

.app_header_title{
  color: rgb(60, 130, 250);
}

.globe_icon{
  font-size: 2rem !important;
  margin-bottom: -5px;
  color: rgb(60, 130, 250);
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
  from {
      transform:rotateY(0deg);
  }
  to {
      transform:rotateY(360deg);
  }
}

.app_dropdown{
  width: 150px;
}

.app_stats{
  display: flex;
  justify-content: space-between;
}

.app_left{
  flex: .9;
}

.info{
  width: 100%;
  margin-left: 15px;
}

.info:hover{
  box-shadow: 1px 1px 3px 3px rgba(30, 5, 5, 0.25);
  cursor: pointer;
}

.info_title{
  margin: 5px 0 !important;
  font-weight: 700 !important;
}

.info_cases{
  margin-bottom: 5px !important;
  font-weight: 600 !important;
  color: rgb(225, 50, 50);
}

.info_total{
  font-weight: 600 !important;
}

.info-selected{
  border-top: 7px solid rgb(225, 50, 50);
}

.info_cases-green{
  color: rgb(30, 175, 30);
}

.border-color{
  border-color: rgb(30, 175, 30);
}

.app_right{
  padding-left: 20px;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }

  .app_right{
    padding-left: 15px;
    padding-top: 30px;
  }
}

@media (max-width: 500px){
  .app_header_title, .globe_icon{
    font-size: 1.5rem !important;
  }
}

.lineGraph{
  margin-top: 20px;
  height: 200px;
}

.loader{
  display: flex;
  justify-content: center;
  margin-top: 23%;
}