.table{
    margin: 20px 0 20px 0;
    overflow: scroll;
    height: 370px;
    color: rgb(39, 39, 39); 
  }
  
  .table tr{
    display: flex;
    justify-content: space-between;
  }
  
  .table tr:nth-of-type(odd){
    background-color: rgba(75, 170, 185, 0.25);
  }
  
  .table td {
    padding: 5px;
  }
  
  .table_row{
    width: 100%;
  }
  